body {
	
	background-image: url("../images/icecream.jpg");
}
h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	text-align:center;
}
h2 {
	text-align:center;
	color: orange;
}
h3 {
	text-align:center;
	color:white;
}
